{% extends "layout_fees.html" %}

{% block page_title %}
  All fees | Fees Register Admin console
{% endblock %}

{% block content %}


<div class="topnav">
    <div class="topnavalignment">
      <div class="govuk-o-width-container">
        <div class="govuk-grid-row">
            <a class="active" href="all-fees.html">All fees</a>
            <a href="draft-fees">Draft fees</a>
            <a href="create-a-fee">Create a fee</a>
            <a href="upload-fee">Upload a fee</a>
            <a href="reference-data.html">Reference data</a>
              <!-- <div class="search-container">
                <input type="text" placeholder="Search..">
                <button class"search-container" type="button"><i class="hod-search"></i></button>
                  </div> -->
        </div>
      </div>
    </div>
</div>







<div class="govuk-o-width-container">

  <main role="main" class="govuk-o-main-wrapper">

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--full">
            <h1 class="govuk-heading-xl">All fees</h1>
          </div>
        </div>


            <div class="govuk-o-grid">
              <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
            <form class="example" action="">
              <input type="text" placeholder="Search.." name="search">
              <!-- <button type="submit"><i class="hod-search"></i></button> -->
            </form>
            <br>

            <!-- <button class="accordion">Advance search</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div> -->

          </div>
        </div>

        <!-- <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
                <div class="govuk-o-form-group"><label class="govuk-c-label" for="national-insurance-number">
                  Search for a fee
                  <span class="govuk-c-label__hint"></span>
                </label>
                <input class="govuk-c-input" id="national-insurance-number" name="national-insurance-number" type="text">
                </div>
                <br>
          </div>
        </div> -->



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--full">

                  <table class="govuk-c-table">
                      <thead class="govuk-c-table__head">
                        <tr class="govuk-c-table__row-feereg">
                          <th class="govuk-c-table__header-feereg" scope="col">Code</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Description</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Type</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Amount type</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Type value</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Jurisdiction 1</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Jurisdiction 2</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Service</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Event</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Channel</th>
                          <th class="govuk-c-table__header-feereg" scope="col">Version</th>
                          <th class="govuk-c-table__header-feereg" scope="col"></th>
                        </tr>


                      </thead>
                        <tbody class="govuk-c-table__body">
                          <tr class="govuk-c-table__row-feereg">
                            <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="fee0002-summary.html">FEE0002<a/></th>
                            <td class="govuk-c-table__cell-feereg">Filing an application for a divorce</td>
                            <td class="govuk-c-table__cell-feereg">Fixed</td>
                            <td class="govuk-c-table__cell-feereg">Flat</td>
                            <td class="govuk-c-table__cell-feereg">£550</td>
                            <td class="govuk-c-table__cell-feereg">Family</td>
                            <td class="govuk-c-table__cell-feereg">Family court</td>
                            <td class="govuk-c-table__cell-feereg">Divorce</td>
                            <td class="govuk-c-table__cell-feereg">Issue</td>
                            <td class="govuk-c-table__cell-feereg">Defult</td>
                            <td class="govuk-c-table__cell-feereg">4</td>
                            <td class="govuk-c-table__cell-feereg"></td>
                        </tr>

                          <tr class="govuk-c-table__row-feereg">
                            <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0003<a/></th>
                            <td class="govuk-c-table__cell-feereg">Additional copies of the grant representation</td>
                            <td class="govuk-c-table__cell-feereg">Fixed</td>
                            <td class="govuk-c-table__cell-feereg">Volume</td>
                            <td class="govuk-c-table__cell-feereg">£0.5</td>
                            <td class="govuk-c-table__cell-feereg">Family</td>
                            <td class="govuk-c-table__cell-feereg">Probate registry</td>
                            <td class="govuk-c-table__cell-feereg">Probate</td>
                            <td class="govuk-c-table__cell-feereg">Copies</td>
                            <td class="govuk-c-table__cell-feereg">Defult</td>
                            <td class="govuk-c-table__cell-feereg">3</td>
                            <td class="govuk-c-table__cell-feereg"></td>
                        </tr>

                        <tr class="govuk-c-table__row-feereg">
                          <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0004<a/></th>
                          <td class="govuk-c-table__cell-feereg">Recovery of Land</td>
                          <td class="govuk-c-table__cell-feereg">Fixed</td>
                          <td class="govuk-c-table__cell-feereg">Flat</td>
                          <td class="govuk-c-table__cell-feereg">£480</td>
                          <td class="govuk-c-table__cell-feereg">Civil</td>
                          <td class="govuk-c-table__cell-feereg">High court</td>
                          <td class="govuk-c-table__cell-feereg">Possession claim</td>
                          <td class="govuk-c-table__cell-feereg">Issue</td>
                          <td class="govuk-c-table__cell-feereg">Defult</td>
                          <td class="govuk-c-table__cell-feereg">3</td>
                          <td class="govuk-c-table__cell-feereg"></td>
                      </tr>

                      <tr class="govuk-c-table__row-feereg">
                        <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0005<a/></th>
                        <td class="govuk-c-table__cell-feereg">Recovery of Land</td>
                        <td class="govuk-c-table__cell-feereg">Fixed</td>
                        <td class="govuk-c-table__cell-feereg">Flat</td>
                        <td class="govuk-c-table__cell-feereg">£355</td>
                        <td class="govuk-c-table__cell-feereg">Civil</td>
                        <td class="govuk-c-table__cell-feereg">County court</td>
                        <td class="govuk-c-table__cell-feereg">Possession claim</td>
                        <td class="govuk-c-table__cell-feereg">Issue</td>
                        <td class="govuk-c-table__cell-feereg">Defult</td>
                        <td class="govuk-c-table__cell-feereg">4</td>
                        <td class="govuk-c-table__cell-feereg"></td>
                    </tr>

                    <tr class="govuk-c-table__row-feereg">
                      <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0006<a/></th>
                      <td class="govuk-c-table__cell-feereg">Recovery of Land - Online</td>
                      <td class="govuk-c-table__cell-feereg">Fixed</td>
                      <td class="govuk-c-table__cell-feereg">Flat</td>
                      <td class="govuk-c-table__cell-feereg">£325</td>
                      <td class="govuk-c-table__cell-feereg">Civil</td>
                      <td class="govuk-c-table__cell-feereg">County court</td>
                      <td class="govuk-c-table__cell-feereg">Possession claim</td>
                      <td class="govuk-c-table__cell-feereg">Issue</td>
                      <td class="govuk-c-table__cell-feereg">Online</td>
                      <td class="govuk-c-table__cell-feereg">4</td>
                      <td class="govuk-c-table__cell-feereg"></td>
                  </tr>

                  <tr class="govuk-c-table__row-feereg">
                    <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0007<a/></th>
                    <td class="govuk-c-table__cell-feereg">Where the party filing the request is legally aided</td>
                    <td class="govuk-c-table__cell-feereg">Fixed</td>
                    <td class="govuk-c-table__cell-feereg">Flat</td>
                    <td class="govuk-c-table__cell-feereg">£200</td>
                    <td class="govuk-c-table__cell-feereg">Family</td>
                    <td class="govuk-c-table__cell-feereg">Family court</td>
                    <td class="govuk-c-table__cell-feereg">General</td>
                    <td class="govuk-c-table__cell-feereg">Cost assessment</td>
                    <td class="govuk-c-table__cell-feereg">Defult</td>
                    <td class="govuk-c-table__cell-feereg">3</td>
                    <td class="govuk-c-table__cell-feereg"></td>
                </tr>

                <tr class="govuk-c-table__row-feereg">
                  <th class="govuk-c-table__cell-ref-feereg" scope="row"><a href="">FEE0008<a/></th>
                  <td class="govuk-c-table__cell-feereg">Where the party filing the request is legally aided</td>
                  <td class="govuk-c-table__cell-feereg">Fixed</td>
                  <td class="govuk-c-table__cell-feereg">Flat</td>
                  <td class="govuk-c-table__cell-feereg">£220</td>
                  <td class="govuk-c-table__cell-feereg">Civil</td>
                  <td class="govuk-c-table__cell-feereg">Probabte registry</td>
                  <td class="govuk-c-table__cell-feereg">Probbate</td>
                  <td class="govuk-c-table__cell-feereg">Cost assessment</td>
                  <td class="govuk-c-table__cell-feereg">Defult</td>
                  <td class="govuk-c-table__cell-feereg">4</td>
                  <td class="govuk-c-table__cell-feereg"></td>
              </tr>

                        </tbody>
                   </table>

        </div>
      </div>


      </div>
  </main>
</div>

{% endblock %} {% block page_scripts %}
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
          panel.style.display = "none";
      } else {
          panel.style.display = "block";
      }
  });
}
</script>
{% endblock %}
